body {
    margin: 0;
    padding: 0;
}

/* introduction section */
#introduction {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background: linear-gradient(yellow, rgb(243, 243, 182));
    height: 6rem;
}

@media(max-width: 737px){
    #introduction {
        text-align: center;
    }
}

/* first two phrases and image section */
#phrases {
    display: flex;
    flex: auto;
    flex-direction: row;
    font-size: large;
    margin: 5px;
}

.short-phrases {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
}

.bee2 {
    float: right;
    margin: 5px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* sentences section */
#sentences {
    display: flex;
    flex: auto;
}

.bee1 {
    float: left;
    margin: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.combined-sentences {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-left: 4px;
    gap: 25px;
}

/* cards section */
#cards {
    display: flex;
    flex: auto;
    justify-content: center;
    margin: 30px;
    gap: 5px;
}

.card-title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

/* bee information section */
#information {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, rgb(243, 243, 182));
    gap: 30px;
    height: 10rem;
}

.list {
    list-style: square;
}

a:link {
    color: black;
}

a:hover {
    color: lightslategray;
}

a:visited {
    color: rgb(225, 114, 240);
}